html, 
body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.back{
    /* background-size: cover; */
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    height: 100%;
    justify-content: center;

}

.loading {
    align-items: center;
}